In [188]:
# Loading data

import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
%matplotlib inline
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')
DF=pd.concat([train,test])

In [189]:
# Decoding names
def decodeTitle(row):
    signif_titles=['Mr.','Miss.','Mrs.','Master.'] 
    change_sex={'female':'Miss.','male':'Mr.'}
    # cut exactly title from column Name
    title=row[4][row[4].find(',')+2:row[4].find('.')+1]
    
    
    # return title if it is in set of significant titles
    if title in signif_titles:
        return(title)
    
    # return sex if title is insignificant
    else: return(change_sex[row[8]])
    
DF['Title']=DF.apply(decodeTitle, axis=1)
DF['Fulltitle']=DF.apply(lambda x: x[4][x[4].find(',')+2:x[4].find('.')+1], axis=1)

In [190]:
# Decodng cabins
def number(string):
    if pd.notnull(string):
        numbers=[int(i) for i in re.findall('(\d+)',string)]
        return(np.mean(numbers))

DF['CabinSymbol'] = DF.Cabin.str[0].fillna('X')
DF['CabinNumber'] = DF.Cabin.apply(number)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

In [191]:
Ages, Fares=[0],[0]
for i in [1,2,3]:
    Ages.append(DF[DF.Pclass==i]['Age'].mean())
    Fares.append(DF[DF.Pclass==i]['Fare'].mean())
def funca(row):
    if row[0]>0: 
        age=row[0]
    else: 
        age=Ages[row[7]]
    return(age)
def funcb(row):
    if row[3]>0: 
        fare=row[3]
    else: 
        fare=Fares[row[7]]
    return(fare)
                 
DF['Age']=DF.apply(funca,axis=1)
DF['Fare']=DF.apply(funcb,axis=1)

In [192]:
DF['Title']=DF['Title'].astype('category').cat.codes
DF['CabinSymbol']=DF['CabinSymbol'].astype('category').cat.codes
DF['Sex']=DF['Sex'].astype('category').cat.codes

In [199]:
DF_train=DF[DF.Survived.notnull()]
DF_test=DF[DF.Survived.notnull()==False]
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

optimizer = GridSearchCV(RandomForestClassifier(), \
                         {'max_features' : [0.4, 0.6, 0.8, 1.0], 
                          'max_depth' : [5, 10, 15, 25, 35, 45, 55, 65], 
                          'n_estimators' : [1, 5, 10, 15, 30, 50, 70, 90, 100]},\
                         cv = 15, \
                         n_jobs=-1)
optimizer.fit(DF_train[['Age','Fare','Parch','Pclass','Title','CabinSymbol','Sex']], DF_train['Survived'])
print('Random Forest Best Result', optimizer.best_score_)
print('Best Parameters', optimizer.best_params_)

Random Forest Best Result 0.8462401795735129
Best Parameters {'max_depth': 10, 'max_features': 0.6, 'n_estimators': 90}

In [200]:
def writeAnswer(filename, optimizer):
    prediction = optimizer.predict(np.hstack([DF_test[['Age','Fare','Parch','Pclass','Title','CabinSymbol','Sex']]]))
    submission = pd.DataFrame({
            "PassengerId": test["PassengerId"],
            "Survived": prediction
        })
    submission.Survived=submission.Survived.astype('int64',copy=False)
    submission.to_csv(filename, index=False)
    
writeAnswer('RandomForestClassifier.csv', optimizer)

In [194]:
DF

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title,Fulltitle,CabinSymbol,CabinNumber
0,22.000000,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,1,1,0.0,A/5 21171,2,Mr.,8,NaN
1,38.000000,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,0,1,1.0,PC 17599,3,Mrs.,2,85.0
2,26.000000,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,0,0,1.0,STON/O2. 3101282,1,Miss.,8,NaN
3,35.000000,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,0,1,1.0,113803,3,Mrs.,2,123.0
4,35.000000,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,1,0,0.0,373450,2,Mr.,8,NaN
5,24.816367,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,1,0,0.0,330877,2,Mr.,8,NaN
6,54.000000,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,1,0,0.0,17463,2,Mr.,4,46.0
7,2.000000,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,1,3,0.0,349909,0,Master.,8,NaN
8,27.000000,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,0,0,1.0,347742,3,Mrs.,8,NaN
9,14.000000,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,0,1,1.0,237736,3,Mrs.,8,NaN
10,4.000000,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,0,1,1.0,PP 9549,1,Miss.,6,6.0
11,58.000000,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,0,0,1.0,113783,1,Miss.,2,103.0
12,20.000000,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,1,0,0.0,A/5. 2151,2,Mr.,8,NaN
13,39.000000,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,1,1,0.0,347082,2,Mr.,8,NaN
14,14.000000,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,0,0,0.0,350406,1,Miss.,8,NaN
15,55.000000,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,0,0,1.0,248706,3,Mrs.,8,NaN
16,2.000000,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,1,4,0.0,382652,0,Master.,8,NaN
17,29.506705,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,1,0,1.0,244373,2,Mr.,8,NaN
18,31.000000,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,0,1,0.0,345763,3,Mrs.,8,NaN
19,24.816367,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,0,0,1.0,2649,3,Mrs.,8,NaN
20,35.000000,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,1,0,0.0,239865,2,Mr.,8,NaN
21,34.000000,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,1,0,1.0,248698,2,Mr.,3,56.0
22,15.000000,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,0,0,1.0,330923,1,Miss.,8,NaN
23,28.000000,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,1,0,1.0,113788,2,Mr.,0,6.0
24,8.000000,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,0,3,0.0,349909,1,Miss.,8,NaN
25,38.000000,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,0,1,1.0,347077,3,Mrs.,8,NaN
26,24.816367,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,1,0,0.0,2631,2,Mr.,8,NaN
27,19.000000,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,1,3,0.0,19950,2,Mr.,2,25.0
28,24.816367,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,0,0,1.0,330959,1,Miss.,8,NaN
29,24.816367,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,1,0,0.0,349216,2,Mr.,8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.000000,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,1,0,NaN,364858,2,Mr.,8,NaN
389,6.000000,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,1,3,NaN,349909,0,Master.,8,NaN
390,23.000000,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,1,0,NaN,12749,2,Mr.,1,24.0
391,51.000000,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,0,0,NaN,PC 17592,3,Mrs.,3,28.0
392,13.000000,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,1,0,NaN,C.A. 2673,0,Master.,8,NaN
393,47.000000,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,1,0,NaN,C.A. 30769,2,Mr.,8,NaN
394,29.000000,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,1,3,NaN,315153,2,Mr.,8,NaN
395,18.000000,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,0,1,NaN,13695,3,Mrs.,2,31.0
396,24.000000,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,1,0,NaN,371109,2,Mr.,8,NaN
397,48.000000,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,0,1,NaN,13567,3,Mrs.,1,41.0
398,22.000000,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,1,0,NaN,347065,2,Mr.,8,NaN
399,31.000000,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,1,0,NaN,21332,2,Mr.,8,NaN
400,30.000000,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,0,0,NaN,36928,1,Miss.,2,7.0
401,38.000000,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,1,1,NaN,28664,2,Mr.,8,NaN
402,22.000000,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,0,0,NaN,112378,1,Miss.,8,NaN
403,17.000000,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,1,0,NaN,113059,2,Mr.,8,NaN
404,43.000000,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,1,1,NaN,17765,2,Mr.,3,40.0
405,20.000000,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,1,0,NaN,SC/PARIS 2166,2,Mr.,3,38.0
406,23.000000,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,1,1,NaN,28666,2,Mr.,8,NaN
407,50.000000,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,1,1,NaN,113503,2,Mr.,2,80.0
408,24.816367,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,0,0,NaN,334915,1,Miss.,8,NaN
409,3.000000,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,0,1,NaN,SOTON/O.Q. 3101315,1,Miss.,8,NaN
410,24.816367,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,0,0,NaN,365237,1,Miss.,8,NaN
411,37.000000,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,0,1,NaN,19928,3,Mrs.,2,78.0
412,28.000000,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,0,0,NaN,347086,1,Miss.,8,NaN
413,24.816367,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,1,0,NaN,A.5. 3236,2,Mr.,8,NaN
414,39.000000,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,0,0,NaN,PC 17758,1,Dona.,2,105.0
415,38.500000,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,1,0,NaN,SOTON/O.Q. 3101262,2,Mr.,8,NaN
416,24.816367,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,1,0,NaN,359309,2,Mr.,8,NaN
417,24.816367,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,1,1,NaN,2668,0,Master.,8,NaN