In [292]:
# Loading data

import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')
DF=pd.concat([train,test])
pd.options.display.max_columns=30

In [293]:
# Decoding names
def decodeTitle(name):
    signif_titles=['Mr.','Miss.','Mrs.','Master.'] 
    # cut exactly title from column Name
    title=name[name.find(',')+2:name.find('.')+1]
    if title in signif_titles:  return(title)
    else: return('Arist.')
    
DF['Title']=DF['Name'].apply(decodeTitle)
DF.loc[88,'Title']='Miss.'
DF.loc[550,'Name']='Thayer, Mr. NOjo Borland Jr'

In [332]:
# Decoding cabins
def number(string):
    numbers=[int(i) for i in re.findall('(\d+)',string)]
    return(np.mean(numbers))
def symbol(string):
    if pd.notnull(string):
        return(True)
    else: return(False)
DF['CabinSymbol'] = DF.Cabin.apply(symbol)
DF['CabinNumber'] = DF.Cabin.apply(number)

TypeError: expected string or bytes-like object

In [70]:
median_age_DF=DF.groupby(['Title','Pclass'])['Age'].median()
median_fare_DF=DF.groupby(['Title','Pclass'])['Fare'].median()
DF['Age']= DF.apply(lambda row: median_age_DF[row['Title'],row['Pclass']] if np.isnan(row['Age'])  else row['Age'],axis=1)
DF['Fare']=DF.apply(lambda row:median_fare_DF[row['Title'],row['Pclass']] if np.isnan(row['Fare']) else row['Fare'],axis=1)

In [308]:
def name(name):
        name=name[name.find('. ')+2:]
        if name.find(' ')==-1:
            return(name)
        else: return(name[:name.find(' ')])
def virgin_surname(name):
    if name.find('(')!=-1:
        return(name[name.rfind(' '):name.find(')')])
def husb_or_wife(row):
    if (row[8]=='female') and (row[4].find('Mrs.')!=-1):
        return(row[17])
DF['Surname']=DF.Name.apply(lambda x: x[:x.find(',')])
DF['Virg_surname']=DF.Name.apply(virgin_surname)
DF['First_name']=DF.Name.apply(name)
DF['Husb_name']=DF.apply(husb_or_wife,axis=1)

In [309]:
DF['wife']=DF.apply(find_my_wife, axis=1)
DF['how_is_wife']=DF.apply(how_is_wife, axis=1)
DF['childs']=DF.apply(find_my_childs, axis=1)
DF['bro']=DF.apply(find_my_bro, axis=1)
DF['how_are_childs']=DF.apply(how_are_childs, axis=1)    
DF['how_are_bro']=DF.apply(how_are_bro,axis=1)
DF['parents']=DF.apply(find_my_parents, axis=1)
DF['how_are_parents']=DF.apply(how_are_parents, axis=1)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel\__main__.py:46: RuntimeWarning: Mean of empty slice
C:\Users\user\Anaconda3\lib\site-packages\ipykernel\__main__.py:59: RuntimeWarning: Mean of empty slice

[451, 473]
451 450    0.0
Name: Survived, dtype: float64
473 472    1.0
Name: Survived, dtype: float64

In [73]:
DF['Title_code']=DF['Title'].astype('category').cat.codes
DF['CabinSymbol']=DF['CabinSymbol'].astype('category').cat.codes
DF['Sex']=DF['Sex'].astype('category').cat.codes
DF['Embarked']=DF['Embarked'].astype('category').cat.codes

In [ ]:
from sklearn.utils import shuffle
DF = shuffle(DF, random_state = 187)

In [254]:
DF_train=DF[DF.Survived.notnull()]
DF_test=DF[DF.Survived.notnull()==False]
# X_train=DF_train[['Family_param','Pclass','Sex','Title_code']]
# X_train.fillna(-1, inplace=True)
# Y_train=DF_train['Survived']
# from sklearn.grid_search import GridSearchCV
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.model_selection import cross_val_score
# optimizer = GridSearchCV(RandomForestClassifier(), \
#                          {'max_features' : [0.4, 0.6, 0.8, 1.0], 
#                           'max_depth' : [5, 10, 15, 25, 35, 45, 55, 65], 
#                           'n_estimators' : [1, 5, 10, 15, 30, 50, 70, 90, 100]},\
#                          cv = 15, \
#                          n_jobs=-1)
# optimizer.fit(X_train,Y_train)
# print('Random Forest Best Result', optimizer.best_score_)
# print('Best Parameters', optimizer.best_params_)

In [ ]:
X_test=DF_test[['Family_param','Pclass','Sex','Title_code']]
def writeAnswer(filename, optimizer):
    prediction = optimizer.predict(X_test)
    submission = pd.DataFrame({
            "PassengerId": test["PassengerId"],
            "Survived": prediction
        })
    submission.Survived=submission.Survived.astype('int64',copy=False)
    submission.to_csv(filename, index=False)
    
writeAnswer('results.csv', optimizer)

In [312]:
X_train=DF_train[['Family_param']]
Y_train=DF_train['Survived']
X_test=DF_test[['Family_param']]
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, Y_train)
print(cross_val_score(model,X_train, Y_train))

def writeAnswer(filename, model):
    prediction = model.predict(X_test)
    submission = pd.DataFrame({
            "PassengerId": DF_test["PassengerId"],
            "Survived": prediction
        })
    submission.Survived=submission.Survived.astype('int64',copy=False)
    submission.sort_values('PassengerId').to_csv(filename, index=False)
    return(submission)
    
r=writeAnswer('results.csv', model)

[ 0.85185185  0.86195286  0.83164983]

In [306]:
## Big pack of setting of relationship between passengers
def find_my_wife(row):
    if (row[8]=='male') and (row[12]!='Master.') and ('Jr' not in row[4]):
        probably_wife=DF[(DF['Surname']==row[15]) & (DF['Husb_name']==row[17]) & (DF['Title']=='Mrs.') & (DF['Title']!='Arist.')]
        if len(probably_wife)!=0:
            return(int(probably_wife['PassengerId']))
        else:return(-999)
    else: return(-888)

#0 - not survived, 1- survived, 2 - not in a board, 3 - woman or child, 4 - no data
def how_is_wife(row):
    if row[19]>0:
        surv=DF[DF['PassengerId']==row[19]]['Survived']
        if pd.notnull(surv.values):
            return(surv.values[0])
        else: return(4)
    elif row[19]>-900: return(3)
    else: return(2)


def find_my_childs(row):
    if row[12] in ['Mrs.','Mr.','Arist.']:
        probably_childs=DF[(DF['Surname']==row[15]) & ((DF['Title']=='Master.') | (DF['Title']=='Miss.') | (DF['Title']=='Mr.'))]
        probably_childs=probably_childs[(probably_childs['SibSp']==row[5]-1) & (probably_childs['Name']!=row[4])]
        probably_childs=probably_childs[(probably_childs['wife']<0) | (probably_childs['SibSp']!=1)]
        if len(probably_childs)!=0:
            return(list(probably_childs['PassengerId']))
        else: return([-999,0])
    else: return([-888,0])

def find_my_bro(row):
    if row[12] in ['Master.','Miss.','Mr.']:
        probably_childs=DF[(DF['Surname']==row[15]) & ((DF['Title']=='Master.') | (DF['Title']=='Miss.') | (DF['Title']=='Mr.'))]
        probably_childs=probably_childs[(probably_childs['Parch']==row[5]) & (probably_childs['SibSp']==row[9]) & (probably_childs['Name']!=row[4])]
        probably_childs=probably_childs[probably_childs['PassengerId'].isin(row[21])==False]
        if len(probably_childs)!=0:
            return(list(probably_childs['PassengerId']))
        else: return([-999,0])
    else: return([-888,0])

def how_are_childs(row):
    if row[21][0]>0:
        surv_index,j=[],np.nan
        for i in row[21]:
            surv_index.append(DF[DF['PassengerId']==i]['Survived'].iloc[0])
            j=np.nanmean(surv_index)
        if pd.notnull(j):
            return(j)
        else:return(4)
    elif row[21][0]>-900: return(3)
    else: return(2)   
    
    
def how_are_bro(row):
    if row[22][0]>0:
        surv_index,j=[],np.nan
        for i in row[22]:
            surv_index.append(DF[DF['PassengerId']==i]['Survived'].iloc[0])
            j=np.nanmean(surv_index)
        if pd.notnull(j):
            return(j)
        else:return(4)
    elif row[22][0]>-900: return(3)
    else: return(2)   
    

def find_my_parents(row):
    if row[12] in ['Miss.','Master.']:
        probably_childs=DF[(DF['Surname']==row[15]) & ((DF['Title']=='Mrs.') | (DF['Title']=='Mr.') | (DF['Title']=='Arist.'))]
        probably_childs=probably_childs[(probably_childs['SibSp']==row[5]-1) & (probably_childs['Name']!=row[4])]
        if len(probably_childs)!=0:
            return(list(probably_childs['PassengerId']))
        else: return([-999,0])
    else: return([-888,0])

def how_are_parents(row):
    if row[25][0]>0:
        if row[6]==59: print(row[25])
        surv_index,j=[],np.nan
        for i in row[25]:
            if row[6]==59: print(i, DF[DF['PassengerId']==i]['Survived'])
            surv_index.append(DF[DF['PassengerId']==i]['Survived'].iloc[0])
        for q in surv_index: 
            if pd.notnull(q)==False:return(4)
        j=np.nanmean(surv_index)
        if pd.notnull(j):
            return(j)
        else:return(4)
    elif row[25][0]>-900: return(3)
    else: return(2)

In [311]:
def My_family(row):
    if row[12] in ['Miss.','Master.']:
        if row['how_are_parents']==0 or (row['how_are_bro']==0 and row['Pclass']==3): return(0)
        else:return(1)
    if row['Title'] in ['Mrs.','Arist.'] and row['Sex']==0:
        if row['how_are_child']<0.5: return(0)
        else: return(1)
    if row['Title'] in ['Mr.','Arist.'] and row['Sex']==1:
        return(0)
            
    
    
DF['Family_param']=DF.apply(My_family,axis=1)

In [75]:
def tick_number(string):
    tick=re.findall('(\d+)',string)
    if len(tick)>0:
        return(int(tick[-1]))
    else: return(999999)
DF['Ticket_number']=DF.Ticket.apply(tick_number)

In [328]:
DF['Ticket_symbol']=DF['Ticket'].apply(lambda s: re.sub('[^a-zA-Z]+', '', s))

In [201]:
DF=DF.sort_values(['Ticket_symbol','Ticket_number'])
DF['Ticket_of_my_neight']=DF['Ticket_number'].diff()
group=0
def my_group(row):
    global group
    if np.abs(row[34])>5: group+=1
    return(group) 
DF['my_group']=DF.apply(my_group,axis=1)

In [197]:
def how_are_neight(x):
    return(np.nanmean(DF[(DF['group']==x) & (DF['Title']=='Mr.')]['Survived'].values))
DF['my_neight']=DF.group.apply(how_are_neight)

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title,CabinSymbol,CabinNumber,...,Virg_surname,First_name,Husb_name,wife,how_is_wife,childs,bro,how_are_childs,how_are_bro,parents,how_are_parents,husband,how_is_my_husb,Family_param,Ticket_symbol
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,Mr.,False,NaN,...,None,Owen,None,-999,2.0,"[-999, 0]",[478],2.000000,0.0,"[-888, 0]",3.0,-888,3.0,NaN,A
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,Mrs.,True,85.0,...,Thayer,John,John,-888,3.0,"[-999, 0]","[-888, 0]",2.000000,3.0,"[-888, 0]",3.0,1126,4.0,NaN,PC
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,Miss.,False,NaN,...,None,Laina,None,-888,3.0,"[-888, 0]","[-999, 0]",3.000000,2.0,"[-999, 0]",2.0,-888,3.0,1.0,STONO
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,Mrs.,True,123.0,...,Peel,Jacques,Jacques,-888,3.0,"[-999, 0]","[-888, 0]",2.000000,3.0,"[-888, 0]",3.0,138,0.0,NaN,
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,Mr.,False,NaN,...,None,William,None,-999,2.0,"[-999, 0]",[731],2.000000,1.0,"[-888, 0]",3.0,-888,3.0,NaN,
5,26.0,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,Mr.,False,NaN,...,None,James,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,Mr.,True,46.0,...,None,Timothy,None,-999,2.0,"[-999, 0]",[1196],2.000000,4.0,"[-888, 0]",3.0,-888,3.0,NaN,
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,Master.,False,NaN,...,None,Gosta,None,-888,3.0,"[-888, 0]","[25, 375, 1281]",3.000000,0.0,[568],0.0,-888,3.0,0.0,
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,Mrs.,False,NaN,...,Berg,Oscar,Oscar,-888,3.0,"[173, 870]","[-888, 0]",1.000000,3.0,"[-888, 0]",3.0,-999,2.0,NaN,
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,Mrs.,False,NaN,...,Achem,Nicholas,Nicholas,-888,3.0,"[-999, 0]","[-888, 0]",2.000000,3.0,"[-888, 0]",3.0,123,0.0,NaN,
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,Miss.,True,6.0,...,None,Marguerite,None,-888,3.0,"[-888, 0]",[1009],3.000000,4.0,[395],1.0,-888,3.0,1.0,PP
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,Miss.,True,103.0,...,None,Elizabeth,None,-888,3.0,"[-888, 0]",[1292],3.000000,4.0,"[-999, 0]",2.0,-888,3.0,1.0,
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,Mr.,False,NaN,...,None,William,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,A
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,Mr.,False,NaN,...,None,Anders,None,611,0.0,"[69, 120, 542, 543, 814, 851, 1106]","[-999, 0]",0.166667,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,Miss.,False,NaN,...,None,Hulda,None,-888,3.0,"[-888, 0]","[-999, 0]",3.000000,2.0,"[-999, 0]",2.0,-888,3.0,1.0,
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,Mrs.,False,NaN,...,,(Mary,(Mary,-888,3.0,"[-999, 0]","[-888, 0]",2.000000,3.0,"[-888, 0]",3.0,-999,2.0,NaN,
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,Master.,False,NaN,...,None,Eugene,None,-888,3.0,"[-888, 0]","[172, 279, 788, 947]",3.000000,0.0,[886],0.0,-888,3.0,0.0,
17,30.0,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,Mr.,False,NaN,...,None,Charles,None,-999,2.0,"[-999, 0]","[305, 736]",2.000000,0.0,"[-888, 0]",3.0,-888,3.0,NaN,
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,Mrs.,False,NaN,...,Vandemoortele,Julius,Julius,-888,3.0,"[-999, 0]","[-888, 0]",2.000000,3.0,"[-888, 0]",3.0,1037,4.0,NaN,
19,31.0,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,Mrs.,False,NaN,...,None,Fatima,Fatima,-888,3.0,"[-999, 0]","[-888, 0]",2.000000,3.0,"[-888, 0]",3.0,-999,2.0,NaN,
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,Mr.,False,NaN,...,None,Joseph,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,Mr.,True,56.0,...,None,Lawrence,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,Miss.,False,NaN,...,None,Anna,None,-888,3.0,"[-888, 0]",[1098],3.000000,4.0,"[-999, 0]",2.0,-888,3.0,1.0,
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,Mr.,True,6.0,...,None,William,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,Miss.,False,NaN,...,None,Torborg,None,-888,3.0,"[-888, 0]","[8, 375, 1281]",3.000000,0.0,[568],0.0,-888,3.0,0.0,
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,Mrs.,False,NaN,...,Johansson,Carl,Carl,-888,3.0,"[183, 234, 262, 1046, 1271]","[-888, 0]",0.666667,3.0,"[-888, 0]",3.0,1066,4.0,NaN,
26,26.0,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,Mr.,False,NaN,...,None,Farred,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,Mr.,True,25.0,...,None,Charles,None,-999,2.0,"[-999, 0]","[89, 342, 945]",2.000000,1.0,"[-888, 0]",3.0,-888,3.0,NaN,
28,18.0,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,Miss.,False,NaN,...,None,Ellen,None,-888,3.0,"[-888, 0]","[-999, 0]",3.000000,2.0,"[-999, 0]",2.0,-888,3.0,1.0,
29,26.0,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,Mr.,False,NaN,...,None,Lalio,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858,Mr.,False,NaN,...,None,Patrick,None,-999,2.0,"[-999, 0]",[502],2.000000,0.0,"[-888, 0]",3.0,-888,3.0,NaN,
389,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909,Master.,False,NaN,...,None,Paul,None,-888,3.0,"[-888, 0]","[8, 25, 375]",3.000000,0.0,[568],0.0,-888,3.0,0.0,
390,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749,Mr.,True,24.0,...,None,Vivian,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
391,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592,Mrs.,True,28.0,...,James,Ernest,Ernest,-888,3.0,[854],"[-888, 0]",1.000000,3.0,"[-888, 0]",3.0,-999,2.0,NaN,PC
392,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673,Master.,False,NaN,...,None,Eugene,None,-888,3.0,"[-888, 0]","[-999, 0]",3.000000,2.0,"[280, 747]",0.5,-888,3.0,1.0,CA
393,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769,Mr.,False,NaN,...,None,William,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,CA
394,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153,Mr.,False,NaN,...,None,Anton,None,1057,4.0,[185],"[-999, 0]",1.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
395,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695,Mrs.,True,31.0,...,Hughes,Lucien,Lucien,-888,3.0,"[-999, 0]","[-888, 0]",2.000000,3.0,"[-888, 0]",3.0,942,4.0,NaN,
396,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109,Mr.,False,NaN,...,None,Patrick,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
397,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567,Mrs.,True,41.0,...,Stehli,Maxmillian,Maxmillian,-888,3.0,"[-999, 0]","[-888, 0]",2.000000,3.0,"[-888, 0]",3.0,588,1.0,NaN,
398,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065,Mr.,False,NaN,...,None,Edvard,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
399,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332,Mr.,False,NaN,...,None,Thomas,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
400,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928,Miss.,True,7.0,...,None,Caroline,None,-888,3.0,"[-888, 0]",[12],3.000000,1.0,"[-999, 0]",2.0,-888,3.0,1.0,
401,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664,Mr.,False,NaN,...,None,Harry,None,-999,2.0,"[-999, 0]",[406],2.000000,0.0,"[-888, 0]",3.0,-888,3.0,NaN,
402,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378,Miss.,False,NaN,...,None,Dorothy,None,-888,3.0,"[-888, 0]","[-999, 0]",3.000000,2.0,[1260],4.0,-888,3.0,1.0,
403,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059,Mr.,False,NaN,...,None,Jose,None,-999,2.0,"[-999, 0]",[84],2.000000,0.0,"[-888, 0]",3.0,-888,3.0,NaN,
404,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765,Mr.,True,40.0,...,None,Isaac,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
405,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166,Mr.,True,38.0,...,"Drachstedt""",Alfred,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,SCPARIS
406,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666,Mr.,False,NaN,...,None,William,None,-999,2.0,"[-999, 0]",[1170],2.000000,4.0,"[-888, 0]",3.0,-888,3.0,NaN,
407,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503,Mr.,True,80.0,...,None,George,None,1110,4.0,[378],"[-999, 0]",0.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
408,18.0,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915,Miss.,False,NaN,...,None,Johanna,None,-888,3.0,"[-888, 0]","[-999, 0]",3.000000,2.0,"[-999, 0]",2.0,-888,3.0,1.0,
409,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315,Miss.,False,NaN,...,None,Treasteall,None,-888,3.0,"[-888, 0]",[1173],3.000000,4.0,[1051],4.0,-888,3.0,1.0,SOTONOQ
410,18.0,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237,Miss.,False,NaN,...,None,Hannah,None,-888,3.0,"[-888, 0]","[-999, 0]",3.000000,2.0,"[-999, 0]",2.0,-888,3.0,1.0,
411,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928,Mrs.,True,78.0,...,Thorpe,William,William,-888,3.0,"[-999, 0]","[-888, 0]",2.000000,3.0,"[-888, 0]",3.0,246,0.0,NaN,
412,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086,Miss.,False,NaN,...,None,Jenny,None,-888,3.0,"[-888, 0]","[-999, 0]",3.000000,2.0,"[-999, 0]",2.0,-888,3.0,1.0,
413,26.0,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236,Mr.,False,NaN,...,None,Woolf,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,A
414,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758,Arist.,True,105.0,...,None,Fermina,None,-888,3.0,"[-999, 0]","[-888, 0]",2.000000,3.0,"[-888, 0]",3.0,-999,2.0,NaN,PC
415,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262,Mr.,False,NaN,...,None,Simon,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,SOTONOQ
416,26.0,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309,Mr.,False,NaN,...,None,Frederick,None,-999,2.0,"[-999, 0]","[-999, 0]",2.000000,2.0,"[-888, 0]",3.0,-888,3.0,NaN,
417,6.0,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668,Master.,False,NaN,...,None,Michael,None,-888,3.0,"[-888, 0]",[129],3.000000,1.0,[534],1.0,-888,3.0,1.0,